/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.Items > .item  {
  position: relative;
  border-radius: 2px;
  cursor: -webkit-grab;
  cursor: grab;
  margin: 1px;
  z-index: 1;
  overflow: hidden;
  padding: 1px;
  font-weight: bold;
  vertical-align: top;
}

.Items >  .item.fullWidth {
  width: calc(3*0.99*var(--cell-width));
  height: calc(0.2*0.99*var(--cell-height));
  font-size: 26px;
  line-height: 26px;
}

.Items >  .item.twothirds {
  width: calc(2*0.99*var(--cell-width));
  height: calc(0.2*0.99*var(--cell-height));
  font-size: 23px;
  line-height: 28px;
}

.Items >  .item.circle {
  width: calc(0.2*0.99*var(--cell-width));
  height: calc(0.2*0.99*var(--cell-height));
  border-radius: 1000px;
}

.Items >  .item.halfGridHeight {
  width: calc(0.99*var(--cell-width));
  height: calc(0.4*0.99*var(--cell-height));
  font-size: 12px;
  line-height: 16px;
}

.Items >  .item.fifthGridHeight {
  width: calc(0.99*var(--cell-width));
  height: calc(0.1*0.99*var(--cell-height));
  font-size: 12px;
  line-height: 14px;
}