.Items > .item  {
  position: relative;
  border-radius: 2px;
  cursor: grab;
  background-color: #ff7070;
  opacity: 1;
  margin: 1px;
  z-index: 1;
}

.Items > .item.test {
  width: calc(0.98*var(--cell-width));
  height: calc(0.98*var(--cell-height));
}

.Items >  .item.fullWidth {
  width: calc(3*0.98*var(--cell-width));
  height: calc(0.2*0.98*var(--cell-height));
}

.Items >  .item.twothirds {
  width: calc(2*0.98*var(--cell-width));
  height: calc(0.2*0.98*var(--cell-height));
}

.Items >  .item.circle {
  width: calc(0.2*0.98*var(--cell-width));
  height: calc(0.2*0.98*var(--cell-height));
  border-radius: 1000px;
}

.Items >  .item.halfGridHeight {
  width: calc(0.98*var(--cell-width));
  height: calc(0.4*0.98*var(--cell-height));
}

.Items >  .item.fifthGridHeight {
  width: calc(0.98*var(--cell-width));
  height: calc(0.1*0.98*var(--cell-height));
}