/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


.Grid, .Items {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Items {
  z-index: 1;
}

.Items:hover {
  cursor: crosshair !important;
}

.Square {
  border: 1px solid var(--gridLines-color);
  width: 100%;
  height: 100%;
  opacity: 0.1;
}