
.Grid {
  z-index: 1;
  position: absolute;
  width: calc(var(--factor) * var(--cell-width));
  height: calc(var(--factor) * var(--cell-height));
  top: 0;
  left: 0;
}

.Grid > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
