/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.Information {
	color: #000;
	display: block;
	/*border: 1px solid;*/
 	width: calc(var(--factor) * var(--cell-width));
 	height: 85vh;
  	font-size: var(--font-size);
  	line-height: var(--line-height);
	margin: 0vh 4vw;
	overflow: scroll;
 	/*border: 1px solid;*/
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 7rem;
	font-weight: 600;
}

h3 {
	font-weight: 500;
}

a {
	color: inherit;
}

li {
	list-style: none;
}

hr {
	margin: 0;
	padding: 0;
}

p {
	margin: 2vh 0;
}

.ant-collapse {
	margin-top: 2vh;
}

.ant-collapse-header {
	color: var( --items-color);
	font-weight: bold;
}

.ant-collapse-header:hover {
	cursor: pointer;
}

.site-collapse-custom-panel {
	margin: 1vh 0;
}

.credits {
	color: #aaa;
	top: 7vh;
	position: relative;
	display: block;
	font-size: 1rem;
}